@use 'utils/display';
@use 'utils/overflow';

html {
    transition: all 10s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

input:where( :not( [type=checkbox] ):not( [type=radio ] ) ),
select,
textarea {
	color: var( --wp--custom--form-input--color, inherit );
	background: var( --wp--custom--form-input--background, transparent );
	border: 1px solid var( --wp--custom--form-input--border-color, currentColor );
	/* Other CSS rules... */
}

.basic-header-sticky {
	mix-blend-mode: difference;
}

.has-no-root-padding-top {
    margin-top: calc(-1 * var(--wp--style--root--padding-top));
}

.has-no-root-padding-bottom {
    margin-bottom: calc(-1 * var(--wp--style--root--padding-bottom));
}